# Configuration file to set appropriate paths to data and modules.
#
# Created as a part of the project at the Czech Technical University
# by Petr Bojda, 7-28-2017.
#
# Project for VALEO, Navigation unit design


[Scenarios]
number: 1
scenario_0: Mushfiqul's simplified

[Scenario_0]
name: Mushfiqul simplified
description: Only selected data are used, rotations and accelerations to integrate path
number_of_files: 1
dataset: CTU_0
file_00: 20160514_INS_DMU10_Flight_01_MAXM8W_GEO_shift_0.mat


[Paths]
home_dir: /home/petr/Projects/TRIO/Nav/
data_dir: data/
src_dir: srcpy/

[Available_datasets]
# List of available sets of data
number: 3
set_0: Palenska
set_1: CTU_0
set_2: groves

[set_0]
# Parameters of the set 0:
folder: palenska/
n_files: 0

[set_1]
# Parameters of the set 1:
folder: CTU_0/
n_files: 3
file_00: 20160514_INS_DMU10_Flight_01_MAXM8W_GEO.mat
file_01: 20160514_INS_DMU10_Flight_01_MAXM8W_GEO_shift_0.mat
file_02: full_length_gps_data_saved.mat

[set_2]
# Parameters of the set 2:
folder: groves/
n_files: 0

